
@{
    Layout = null;
    ViewBag.Title = "充值系统 - 线下充值二维码";
 
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/pagination.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script charset="utf-8" src="~/Scripts/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script charset="utf-8" src="~/Scripts/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <style type="text/css">
        input {
            color: black;
        }

        .tab2 {
            width: auto;
        }
    </style>
</head>
<body>
    <div id="content" class="main-content">
        <div class="">
            <div class="carousel box-inner">
                <div class="box-header well clearfix" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i>目前操作功能：@ViewBag.Title</h2>
                </div>
              
                <div class="box-content" style="overflow: hidden; display: block;">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="DataTables_Table_0_length" class="dataTables_length">
                                <label>
                                    <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" id="pagecount">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50" selected="selected">50</option>
                                        <option value="100">100</option>
                                    </select> 条/页
                                </label>
                                <div class="dataTables_info" id="DataTables_Table_0_info">显示 1 至 10 共 10 条</div>
                            </div>
                        </div>

                        <div class="col-md-10" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                            <div class="btn-group btn-group">
                                <a class="btn btn-success" href="@Url.Action("OffLineQrCodeInfo", "Filled")?"> <i class="glyphicon glyphicon-plus-sign icon-white"></i>添加代理商收款方式 </a>
                             
                             
                            </div>
                        </div>

                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row">
                                  <!--  <th><input name="ckall" type="checkbox" value="" onclick="SelectAll(this,'cid')" /></th>-->
                                    <th>支付方式</th>
                                    <th>二维码图</th>
                                    <th>代理商ID</th>
                                   
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                        </table>
                        <!--分页控件-->
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                    <ul class="pagination" id="pagin"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>

   
       
        </div>
    <script type="text/javascript">
        var postData = {};//搜索条件
        $(function () {
            $('.nav-tabs li').eq(0).addClass("active");
            postData.PaymentType = $('.nav-tabs li').eq(0).attr("data-id");

            postData.pageSize = parseInt($("#pagecount").val());
            postData.pageIndex = 1;
            AjaxSearch(postData);


            var paymentType = -1;
            $('.nav-tabs li').click(function () {
                $(this).addClass("active").siblings().removeClass("active");
                paymentType = $(this).attr("data-id");
                postData.PaymentType = paymentType;
                AjaxSearch(postData);
            })

           
        })
        var id = 0;
        function del(pid, ownerID, IconPath, PaymentTypeID) {
            var data = {};
            var cid = "";
            if (pid == 0)
                cid = GetSelectValues();
            else
                cid = pid;
            if (cid == "") {
                alert("未选中任何数据");
                return false;
            }
            if (confirm("你确定要此操作吗？")) {
                data.cid = cid;
                data.path = IconPath
                console.log(data)
                AjaxSubmit("/Filled/DelOffLineQrCode", data, callBack, "del");
            }
        }

        function AjaxSearch(postData) {

            $('#pagin').paging("/Filled/GetOffLineQrCodeList", postData, CreatTableBody, postData.pageIndex);
        }
        //绑定数据

        function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex) {
            var html = "";
            if (jsondata != null && jsondata.length > 0) {
                $.each(jsondata, function (i, item) {
                    html += stringFormat("<tr>");
                   // html += stringFormat("<td><input name='cid' type='checkbox' value='{0}'/></td>", item.ID);
                    html += stringFormat("<td>{0}</td>", item.PaymentName);
                    html += stringFormat("<td><img src={0} height={1} /></td>", "/Content/Upload/OffLinePayQrCode/" + item.IconPath, 60);
                    html += stringFormat("<td>{0}</td>", item.OwnerID);
                    html += stringFormat("<td><a class=\"l\" href=\"@Url.Action("OffLineQrCodeInfo", "Filled")?param={0}\">更新</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"javascript:void(0)\" onclick=\"del({0},{1},'{2}','{3}')\">删除</a></td>", item.ID, item.OwnerID, item.IconPath, item.PaymentTypeID);
                    html += "</tr>";
                });
            }
            $("#DataTables_Table_0_wrapper tbody").html(html);
            $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
        }
        function Freeze(id, nullity) {
            var data = { cid: id, Nullity: nullity };
            AjaxSubmit("/Filled/FreezeQudao", data, callBack, "sFreeze");
        }
        //字符串格式化
        function stringFormat() {
            if (arguments.length == 0)
                return null;
            var str = arguments[0];
            for (var i = 1; i < arguments.length; i++) {
                var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
                str = str.replace(re, arguments[i]);
            }
            return str;
        }
        //回调函数
        function callBack(jsonData, fname) {
            window.location.href = "/Filled/OffLineQrCodeList?ModuleID=216";
            switch (fname) {
                case "del":
                    console.log("======", jsonData)
                case "save":
                    $('#myModal').modal('hide');
                    console.log("======", jsonData)
                    AjaxSearch(postData);
                    break;
                default:
                    AjaxSearch(postData);
                    break;
            }
        }
    </script>
</body>
</html>
