@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}

li {
    list-style-image: none;
    list-style-type: none;
}
/*去除li样式的点*/
img {
    border: none;
}
/*去除IE下的图片蓝框*/
a {
    text-decoration: none;
    color: rgba(8, 7, 27, 0.97);
    font-family: "微软雅黑";
}
    /*无下划线*/
    a:hover {
        text-decoration: underline;
    }
/*下划线*/
ul {
    list-style: none;
}



body {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
}

#top {
    height: 80px;
    border-top: 1px solid #ccc;
    padding: 0px 0px 0px 0px;
    background: #fafafa url(/Content/Admin/images/cream.png) repeat;
    border-bottom: 1px solid #ddd;
}


/*top_a*/
#top_a {
    height: 126px;
    width: 100%;
    min-width: 1100px;
    color: #2b2a2a;
}

.width embed {
    height: 25px;
    width: 25px;
    margin-top: 5px;
    float: left;
}

.logo {
    height: 70px;
    width: 500px;
    float: left;
}

    .logo h1 {
        font-family: "微软雅黑";
        font-weight: 700;
        margin-top: 20px;
        margin-left: 30px;
        display: block;
    }


.tubiao {
    height: 30px;
    width: 250px;
    float: right;
    padding-top: 25px;
}

    .tubiao img {
        float: left;
        height: 35px;
        width: 35px;
        display: block;
    }

    .tubiao p {
        float: left;
        width: auto;
        height: 35px;
        display: block;
        line-height: 35px;
        padding-left: 8px;
    }

    .tubiao a {
        font-family: "微软雅黑";
        font-size: 14px;
        color: #2b2a2a;
    }


.top_b {
    background-image: url(/Content/Admin/images/top-bg.png);
    background-repeat: repeat-x;
    height: 43px;
    width: 100%;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #FFFFFF;
}

    .top_b .rq {
        float: right;
        height: 42px;
        width: auto;
        line-height: 40px;
        font-family: "宋体";
        font-size: 12px;
        padding-right: 15px;
    }

.niu1 {
    width: 120px;
    height: 44px;
    display: block;
    background-image: url(/Content/Admin/images/biao.png);
    background-repeat: no-repeat;
    float: left;
}

.niu2 {
    width: 120px;
    height: 44px;
    display: block;
    background-image: url(/Content/Admin/images/biao2.png);
    background-repeat: no-repeat;
    float: left;
}

.left {
    width: 230px;
    height: auto;
    float: left;
    display: block;
    background: #f2f2f2;
    color: #777;
    position: relative;
}
.left #nav {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 60;
}
.left #nav li i{
	display:inline-block;
	margin-right: 5px ;
	background: #eee ;
	color:#888;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 30px;
	border: 1px solid #ccc;
}
.left #nav li span i{
	margin: 0px;
	color: #999;
	background: transparent !important;
	border: 0px;
}
.left #nav > li > a { 
  display: block; 
  padding: 10px 20px;
  font-size: 13px;
  color: #777;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
  background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
  background: -ms-linear-gradient(top, #f9f9f9, #f2f2f2);
  background: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
  background: linear-gradient(top, #f9f9f9, #f2f2f2);	
  box-shadow: inset 0px 1px 1px #fff;
}
.left #nav > li > a:hover, .left #nav > li > a.open, .left #nav > li > a.subdrop { 
  color: #e9e9e9;
  border-bottom: 1px solid #167cac;
  border-top: 1px solid #2094ca;
  background-color: #0993d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#1aaef3), to(#0993d3));
  background: -webkit-linear-gradient(top, #1aaef3, #0993d3);
  background: -moz-linear-gradient(top, #1aaef3, #0993d3);
  background: -ms-linear-gradient(top, #1aaef3, #0993d3);
  background: -o-linear-gradient(top, #1aaef3, #0993d3);
  background: linear-gradient(top, #1aaef3, #0993d3);
  box-shadow: none;
  color: #fff;
  font-weight: bold;
}
.left #nav > li > a:hover i, .left #nav > li > a.open i, .left #nav > li > a.subdrop i{
	color: #fff;
  background-color: #167cac !important;
  border: 1px solid #167cac;
}

.left #nav > li > a:hover span i, .left #nav > li > a.open span i, .left #nav > li > a.subdrop span i{
  color: #fff;
  background: transparent !important;
  border: 0px;
}

.left #nav li ul { display: none; background: #efefef url("/Content/Admin/images/cream.png") repeat; }

.left #nav li ul li a { 
  display: block; 
  background: none;
  padding: 10px 0px;
  padding-left: 30px;
  text-decoration: none;
  color: #777;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

 .left #nav li ul li a:hover,.left #nav li ul li a.selected {
        background: #c1c1c1;
        border-bottom: 1px solid #ddd;      
}
.right {
    position: relative;
    overflow: hidden;
    max-width: 89%;
    min-width: 83%;
    background-color: #FFFFFF;
    padding-left: 240px;
}


.content_aa {
    /*height: 720px;*/
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    overflow: hidden;
}

/*菜单个性设置*/

/*一级菜单*/

/*二级菜单*/

/*左导航 结束*/

.main {
    height: 710px;
    background-color: #FFFFFF;
    width: 100%;
}

.content-right {
    height: auto;
    color: #000000;
    overflow: hidden;
}

.text-a-left a {
    float: left;
    padding-left: 3px;
    margin-left: 3px;
    padding-right: 3px;
}


.biao-a {
    background-image: url(/Content/Admin/images/biao-xg.png);
    background-repeat: no-repeat;
    background-position: left;
    width: auto;
    float: left;
    padding-left: 30px;
    height: 25px;
    text-align: left;
    padding-top: 10px;
    color: #000000;
    padding-right: 10px;
}

.biao-b {
    background-image: url(/Content/Admin/images/biao-sc.png);
    background-repeat: no-repeat;
    background-position: left;
    width: auto;
    float: left;
    padding-left: 30px;
    height: 25px;
    text-align: left;
    padding-top: 10px;
    color: #000000;
    padding-right: 10px;
}


.right5 {
    height: 36px;
    padding-bottom: 10px;
    /*background-image: url(../images/right-bg.png);*/
    background-repeat: repeat-x;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #01baf3;
    padding-top: 10px;
}

.right5-img {
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

.right5-h1 {
    float: left;
    height: 45px;
    width: 100px;
}

    .right5-h1 h1 {
        font-size: 16px;
        font-family: "微软雅黑";
        float: left;
        line-height: 45px;
        height: 45px;
        width: 100px;
    }

.right5-p {
    width: 70%;
    height: 45px;
    float: left;
    line-height: 45px;
}

    .right5-p a {
        color: #000000;
    }

    .right5-p p {
    }

.right5 a:hover {
    color: #FF0000;
}

.right6 {
    height: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.right6-img {
    height: 45px;
    width: 160px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

    .right6-img input {
        padding-top: 20px;
    }



.tr-center {
    text-align: right;
    height: 35px;
    line-height: 35px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.tr-main {
    padding-left: 15px;
    line-height: 35px;
}

    .tr-main p {
        float: left;
        margin-right: 5px;
    }

.tr-topboder {
    text-align: right;
    height: 35px;
    line-height: 35px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.tr-mainboder {
    padding-left: 15px;
    line-height: 35px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
}

    .tr-mainboder p {
        float: left;
        margin-right: 5px;
    }

#fh {
    float: right;
    display: block;
    height: 33px;
    width: 70px;
    margin-right: 3%;
}

#dltj {
    float: right;
    display: block;
    height: 33px;
    width: 85px;
    margin-right: 5px;
}



/*翻页样式*/

.page {
    height: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.new3 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

    .new3 input {
        width: 50px;
    }

DIV.megas512 {
    MARGIN: 3px;
    TEXT-ALIGN: center;
    padding: 3px;
    float: left;
}

    DIV.megas512 A {
        BORDER-RIGHT: #dedfde 1px solid;
        PADDING-RIGHT: 6px;
        BACKGROUND-POSITION: 50% bottom;
        BORDER-TOP: #dedfde 1px solid;
        PADDING-LEFT: 6px;
        PADDING-BOTTOM: 2px;
        BORDER-LEFT: #dedfde 1px solid;
        COLOR: #666666;
        MARGIN-RIGHT: 3px;
        PADDING-TOP: 2px;
        BORDER-BOTTOM: #dedfde 1px solid;
        TEXT-DECORATION: none;
    }

        DIV.megas512 A:hover {
            BORDER-RIGHT: #000 1px solid;
            BORDER-TOP: #000 1px solid;
            BACKGROUND-IMAGE: none;
            BORDER-LEFT: #000 1px solid;
            COLOR: #FFFFFF;
            BORDER-BOTTOM: #000 1px solid;
            BACKGROUND-COLOR: #666666;
        }

        DIV.megas512 A:active {
            BORDER-RIGHT: #000 1px solid;
            BORDER-TOP: #000 1px solid;
            BACKGROUND-IMAGE: none;
            BORDER-LEFT: #000 1px solid;
            COLOR: #fff;
            BORDER-BOTTOM: #000 1px solid;
            BACKGROUND-COLOR: #777777;
        }

    DIV.megas512 SPAN.current {
        PADDING-RIGHT: 6px;
        PADDING-LEFT: 6px;
        FONT-WEIGHT: bold;
        PADDING-BOTTOM: 2px;
        COLOR: #000000;
        MARGIN-RIGHT: 3px;
        PADDING-TOP: 2px;
    }

    DIV.megas512 SPAN.disabled {
        PADDING-RIGHT: 6px;
        PADDING-LEFT: 6px;
        PADDING-BOTTOM: 2px;
        COLOR: #adaaad;
        MARGIN-RIGHT: 3px;
        PADDING-TOP: 2px;
    }

#fy {
    width: 50px;
    height: 20px;
}

.ye {
    float: left;
    width: 162px;
    height: 30px;
    font-size: 12px;
    margin-top: 4px;
}

/*翻页样式结束*/



.z_jl {
    color: #333;
    font-size: 12px;
    float: left;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 4px;
}

.buttom {
    height: 45px;
}

    .buttom img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.right2-left {
    width: 45%;
    float: left;
    overflow: hidden;
    min-width: 300px;
    display: inline;
    margin-left: 2%;
}

.table-two {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2%;
    padding-left: 2%;
}

.right2-left table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
}

.right2-left td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}


.right2-right {
    float: left;
    width: 45%;
    overflow: hidden;
    min-width: 300px;
    display: inline;
}

    .right2-right table {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        border: 1px solid #CCCCCC;
    }

    .right2-right td {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #CCCCCC;
    }

.text-right {
    padding-left: 10px;
}

.text-left {
    text-align: right;
    padding-right: 10px;
}

.form-text {
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #CCCCCC;
}

    .form-text p {
        line-height: 20px;
        text-indent: 22px;
    }

    .form-text h3 {
        color: #003E89;
        font-size: 14px;
        text-indent: 22px;
        line-height: 30px;
    }

.ptxx {
    background-image: url(/Content/Admin/images/table-top.png);
    background-repeat: repeat-x;
    height: 41px;
    text-align: center;
    color: #FFFFFF;
}

    .ptxx a:hover {
        background-image: url(/Content/Admin/images/niu-mou.png);
        background-repeat: no-repeat;
    }

    .ptxx a {
        background-image: url(/Content/Admin/images/niu.png);
        background-repeat: no-repeat;
        height: 28px;
        width: 77px;
        color: #FFFFFF;
        text-decoration: none;
        padding-top: 5px;
        padding-left: 14px;
        line-height: 28px;
        padding-bottom: 5px;
    }





.x1 {
    width: 120px;
    height: 25px;
    float: left;
    margin-top: 4px;
    margin-right: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    padding-left: 5px;
    line-height: 25px;
}

.x2 {
    width: 50px;
    height: 25px;
    float: left;
    margin-top: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    padding-left: 5px;
    line-height: 25px;
    margin-right: 6px;
    margin-left: 6px;
}

.x3 {
    width: auto;
    height: 25px;
    float: left;
    margin-top: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 20px;
    margin-right: 6px;
}


.x4 {
    width: 90px;
    height: 25px;
    float: left;
    margin-top: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 25px;
    margin-right: 6px;
    margin-left: 6px;
}
.x41 {
    width: 60px;
    height: 25px;
    margin-top: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 25px;
    margin-right: 6px;
    margin-left: 6px;
}

.x5 {
    width: 50px;
    height: 25px;
    float: left;
    border: 1px solid #ABADB3;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 25px;
    margin-right: 6px;
    margin-top: 4px;
}

.x6 {
    width: 500px;
    height: 50px;
    margin-top: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 6px;
}

.x7 {
    width: auto;
    height: 25px;
    margin-top: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 20px;
    margin-right: 6px;
    float: right;
}

.w1 {
    margin-left: 10px;
    padding: 15px;
    margin-right: 10px;
}

.xgmm {
    margin-top: 30px;
    margin-bottom: 10px;
}

    .xgmm p {
        line-height: 35px;
        float: right;
        height: 35px;
        width: auto;
        padding-right: 5px;
        padding-left: 5px;
    }

.fxk {
    padding-right: 5px;
    padding-left: 5px;
}

.fxk2 {
    margin-top: 10px;
    float: left;
}

.dxk {
    display: block;
    margin-top: 8px;
    margin-left: 5px;
}

.span {
    height: 35px;
    padding-top: 10px;
    padding-bottom: 5px;
}

    .span h1 {
        float: left;
        line-height: 30px;
        height: 30px;
        font-family: "微软雅黑";
        font-size: 16px;
        width: 60px;
        color: #01baf3;
    }

    .span p {
        float: left;
        line-height: 30px;
        height: 30px;
    }

    .span input {
        float: left;
    }


.ptgg {
    margin-left: 15px;
    margin-right: 10px;
}

.button a {
    background-image: url(/Content/Admin/images/niu.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 17px;
    float: left;
    padding-right: 18px;
    padding-bottom: 9px;
    font-size: 14px;
}

    .button a:hover {
        background-image: url(/Content/Admin/images/niu-mou.png);
        background-repeat: no-repeat;
    }

.button2 a {
    background-image: url(/Content/Admin/images/niu.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 17px;
    line-height: 28px;
    padding-bottom: 9px;
    padding-right: 18px;
    overflow: visible;
    font-size: 14px;
    margin-left: 45%;
}
    .button2 a:hover {
        background-image: url(/Content/Admin/images/niu-mou.png);
        background-repeat: no-repeat;
    }

.button3 a {
    background-image: url(/Content/Admin/images/niu3-3.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 17px;
    float: left;
    padding-right: 10px;
    padding-bottom: 9px;
    font-size: 14px;
    letter-spacing: 0.3em;
}

    .button3 a:hover {
        background-image: url(/Content/Admin/images/niu-mou3.png);
        background-repeat: no-repeat;
    }

.button4 a {
    background-image: url(/Content/Admin/images/niu4-4.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 12px;
    line-height: 28px;
    padding-bottom: 9px;
    padding-right: 18px;
    overflow: visible;
    font-size: 14px;
    margin-left: 45%;
}

    .button4 a:hover {
        background-image: url(/Content/Admin/images/niu-mou4.png);
        background-repeat: no-repeat;
    }

.right-xian {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCCCCC;
}

.button5 a {
    background-image: url(/Content/Admin/images/niu5-5.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    padding-right: 7px;
    padding-bottom: 9px;
    font-size: 14px;
    display: block;
    margin-left: 10px;
}

    .button5 a:hover {
        background-image: url(/Content/Admin/images/niu-mou5.png);
        background-repeat: no-repeat;
    }

.button6 a {
    background-image: url(/Content/Admin/images/niu6-6.png);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 6px;
    float: left;
    padding-right: 4px;
    padding-bottom: 9px;
    font-size: 14px;
    display: block;
    margin-left: 10px;
}

    .button6 a:hover {
        background-image: url(/Content/Admin/images/niu-mou6.png);
        background-repeat: repeat-x;
    }

.button7 a {
    background-image: url(/Content/Admin/images/niu5-5.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 5px;
    float: right;
    padding-right: 7px;
    padding-bottom: 9px;
    font-size: 14px;
    display: block;
    margin-left: 10px;
}

    .button7 a:hover {
        background-image: url(/Content/Admin/images/niu-mou5.png);
        background-repeat: no-repeat;
    }

.center {
    margin-left: 40%;
}

.center2 {
    height: 30px;
    width: 155px;
    margin-right: auto;
    margin-left: auto;
}

.button8 a {
    background-image: url(/Content/Admin/images/niu5-5.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 7px;
    float: left;
    padding-right: 7px;
    padding-bottom: 9px;
    font-size: 14px;
    display: block;
    margin-left: 2px;
}

    .button8 a:hover {
        background-image: url(/Content/Admin/images/niu-mou5.png);
        background-repeat: no-repeat;
    }


.button9 a {
    background-image: url(/Content/Admin/images/niu3-3.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 17px;
    float: left;
    padding-right: 10px;
    padding-bottom: 9px;
    font-size: 14px;
    letter-spacing: 0.3em;
    margin-top: 25px;
    margin-left: 10px;
}

    .button9 a:hover {
        background-image: url(/Content/Admin/images/niu-mou3.png);
        background-repeat: no-repeat;
    }

.wd30 {
    width: 30px;
}
.wd40 {
    width: 40px;
}
