@{
    Layout = null;
    ViewBag.Title = "代理系统-下级玩家";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Content/laydate/laydate.js"></script>
    <script src="~/Scripts/pagination.js"></script>

    <link href="~/Content/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
</head>
<body class="backgroud">
    <div id="content" class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：@ViewBag.Title </h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content" style="overflow: hidden; display: block;">
                        <!--查询栏开始-->
                        <div class="alert alert-info">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <ul class="list-inline cursor-style">
                                        <li>
                                            玩家账号：<input name="txtSearch" id="txtSearch" class="input-width-200" type="text" maxlength="20" />
                                            注册时间：<input id="txtStartDate" class="input-width-150" type="text" readonly="readonly" placeholder="请输入开始时间" />至<input type="text" id="txtEndDate" class="input-width-150" readonly="readonly" placeholder="请输入结束时间" />
                                        </li>

                                        <li>
                                            <a class="btn btn-success search" href="#" id="btnQuery"><i class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-primary" onclick="history.go(0);"><i class="glyphicon glyphicon-repeat"></i>刷新</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--查询栏结束-->
                        <div class="row">
                            <div class="col-md-2">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" id="pagecount">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> 条/页
                                    </label>
                                    <div class="dataTables_info" id="DataTables_Table_0_info">显示 1 至 10 共 10 条</div>
                                </div>
                            </div>

                        </div>
                        <!--table开始-->
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting">ID</th>
                                        <th class="sorting">玩家账号</th>
                                        <th class="sorting">真实姓名 </th>
                                        <th class="sorting">所属代理</th>
                                        <th class="sorting">账户金币</th>
                                        <th class="sorting">游戏时长</th>
                                        <th class="sorting">注册日期</th>
                                        <th class="sorting">登录日期</th>
                                        <th class="sorting">登录IP</th>
                                        <th class="sorting">状态</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!--分页控件-->
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                        <ul class="pagination" id="pagin"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--table结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pageObj = {};
        var postData = {};//搜索条件
        $(document).ready(function () {
            docReady();

            laydate.render({
                elem: '#txtStartDate'
            });
            laydate.render({
                elem: '#txtEndDate'
            });
        });
        function docReady() {
            //加载数据
            postData.pageSize = parseInt($("#pagecount").val());
            postData.pageIndex = 1;
            postData.aid = '@ViewBag.aid';
            AjaxSearch(postData);

            //收放事件
            $('.btn-minimize').click(function (e) {
                e.preventDefault();
                var $target = $(this).parent().parent().next('.box-content');
                if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $target.slideToggle();
            });
            //选择页码
            $("#pagecount").change(function (e) {
                postData.pageSize = parseInt($(this).val());
                postData.pageIndex = 1;
                AjaxSearch(postData);
            });
            //刷新
            $("#btnRefresh").click(function (e) {
                AjaxSearch(postData);
            });
            //普通搜索事件
            $("#btnQuery").click(function () {
                var txtStartDate = $("#txtStartDate").val();
                var txtEndDate = $("#txtEndDate").val();
                if (txtStartDate != "" && txtEndDate != "") {
                    if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                        alert("开始日期不能大于结束时间");
                        return false;
                    }
                }

                postData.StartDate = txtStartDate;
                postData.EndDate = txtEndDate;
                postData.aname = $('#txtSearch').val();
                postData.pageSize = parseInt($("#pagecount").val());
                AjaxSearch(postData);
            });
        }
        //搜索事件
        function AjaxSearch(postData) {
            $('#pagin').paging("/Daili/MyNextUser", postData, CreatTableBody, postData.pageIndex);
        }
        //绑定数据
        function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex, statistics) {
            var html = "";
            if (jsondata != null && jsondata.length > 0) {
                $.each(jsondata, function (i, item) {
                    html += stringFormat("<tr>");
                    html += stringFormat("<td>{0}</td>", item.UserID);
                    html += stringFormat("<td>{0}</td>", G_AddUserNameLink(item.Accounts, item.UserID, item.UserType));
                    html += stringFormat("<td>{0}</td>", item.Compellation);
                    html += stringFormat("<td>{0}</td>", item.Superior);
                    html += stringFormat("<td>{0}</td>", item.Score);
                    html += stringFormat("<td>{0}</td>", ConverTimeToDHMS(item.PlayTimeCount));
                    html += stringFormat("<td>{0}</td>", item.RegisterDate);
                    html += stringFormat("<td>{0}</td>", item.LastLogonDate);
                    html += stringFormat("<td>{0}</td>", item.LastLogonIP);
                    html += stringFormat("<td>{0}</td>", item.Nullity == 0 ? "<font color='#71C671'>正常</font>" : "<font color='#FF0000'>停用</font>");
                    html += "</tr>";
                });
            }
            $("#DataTables_Table_0_wrapper tbody").html(html);
            $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
        }


        var ConverTimeToDHMS = function (seconds) {
            if (seconds <= 0)
                return "0秒";
            var str = "";
            var day = parseInt(seconds / 0x15180);
            var hour = parseInt((seconds % 0x15180) / 0xe10);
            var minute = parseInt((seconds % 0xe10) / 60);
            var second = parseInt(seconds % 60);
            if (day > 0)
                str += day + "天";
            if (hour > 0)
                str += hour + "小时";
            else
                str += "0小时";
            if (minute > 0)
                str += minute + "分";
            else
                str += "0分";
            if (second > 0)
                str += second + "秒";
            else
                str += "0秒";
            return str;
        };
        //字符串格式化
        function stringFormat() {
            if (arguments.length == 0)
                return null;
            var str = arguments[0];
            for (var i = 1; i < arguments.length; i++) {
                var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
                str = str.replace(re, arguments[i]);
            }
            return str;
        }
    </script>
</body>
</html>
