@{
    Layout = null;
    ViewBag.Title = "推广平台管理-推广活动管理";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/pagination.js"></script> 
</head>
<body>
    <div id="content" class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：@ViewBag.Title </h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <ul class="media nav nav-tabs" style="margin-top:-1px;">
                        <li><a href="/Promoter/RankingList" title="排行榜">排行榜</a></li>
                        <li><a href="/Promoter/AdvertiserList" title="推广商管理">推广商管理</a></li>
                        <li class="active"><a href="javascript:void(0)" title="推广活动管理">推广活动管理</a></li>
                    </ul>
                    <div class="box-content" style="overflow: hidden; display: block;">
                        <div class="row">
                            <div class="col-md-2">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" id="pagecount">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> 条/页
                                    </label>
                                    <div class="dataTables_info" id="DataTables_Table_0_info">显示 1 至 10 共 10 条</div>
                                </div>
                            </div>
                            <div class="col-md-10" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                                <a href="javascript:void(0)" class="btn btn-success" onclick="openWindowOwn('/Promoter/AdvertTask', '推广活动', 800, 400)"> <i class="glyphicon glyphicon-plus-sign icon-white"></i>新增 </a>
                            </div>
                        </div>
                        <!--table开始-->
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>广告商</th>
                                        <th>任务名称</th>
                                        <th>AdID</th>
                                        <th>状态</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                            </table>
                            <!--分页控件-->
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                        <ul class="pagination" id="pagin"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--table结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pageObj = {};
        var postData = {};//搜索条件
        $(document).ready(function () {
            docReady();
        });
        function docReady() {
            //加载数据
            postData.pageSize = parseInt($("#pagecount").val());
            postData.pageIndex = 1;
            AjaxSearch(postData);
            //收放事件
            $('.btn-minimize').click(function (e) {
                e.preventDefault();
                var $target = $(this).parent().parent().next('.box-content');
                if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $target.slideToggle();
            });
            //选择页码
            $("#pagecount").change(function (e) {
                postData.pageSize = parseInt($(this).val());
                postData.pageIndex = 1;
                AjaxSearch(postData);
            });

        }
        //搜索事件
        function AjaxSearch(postData) {
            $('#pagin').paging("/Promoter/GetAdvertTaskList", postData, CreatTableBody, postData.pageIndex);
        }
        function StrToDateTime(timestr) {
            var dt = new Date(timestr.replace("-", "/").replace("-", "/"));
            return dt;
        }
        
        //绑定数据
        function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex) {
            var html = "";
            if (jsondata != null && jsondata.length > 0) {
                $.each(jsondata, function (i, item) {
                    html += "<tr>";
                    html += stringFormat("<td>{0}</td>", item.ID);
                    html += stringFormat("<td>{0}</td>", item.Advertiser);
                    html += stringFormat("<td>{0}</td>", item.TaskName);
                    html += stringFormat("<td>{0}</td>", item.AdID);
                    html += stringFormat("<td>{0}</td>", (parseInt(item.StatusT) == 0 ? "未开始" : (parseInt(item.StatusT) == 1 ? "已开始" : "已结束")));
                    html += stringFormat("<td>{0}</td>", item.BeginTime);
                    html += stringFormat("<td>{0}</td>", item.EndTime);
                    html += stringFormat("<td>{0}</td>", item.AddTime);
                    html += stringFormat("<td><a class=\"l\" href='#' onclick=\"openWindowOwn('/Promoter/AdvertTask?param={0}', '', 800, 400)\">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class=\"l\" href='#' onclick=\"openWindowOwn('/Promoter/EditAdvertTaskKinds?param={0}&task={1}', '', 800, 800)\">编辑活动游戏</a></td>", item.ID, item.TaskName);
                    html += "</tr>";
                });
            }
            $("#DataTables_Table_0_wrapper tbody").html(html);
            $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
        }
        //字符串格式化
        function stringFormat() {
            if (arguments.length == 0)
                return null;
            var str = arguments[0];
            for (var i = 1; i < arguments.length; i++) {
                var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
                str = str.replace(re, arguments[i]);
            }
            return str;
        }
    </script>
</body>
</html>
