header {
    border-top: 1px solid #ccc;
    padding: 25px 0px 15px 0px;
    background: #fafafa url(/Content/Admin/images/cream.png) repeat;
    border-bottom: 1px solid #ddd;
}
header .container {
    max-width: 100%;
}
header .logo {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
}

