@{
    Layout = null;
    ViewBag.Title = "后台管理-赠送游戏币记录";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/layout.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/comm.js"></script>
</head>
<body>
        <!-- 头部菜单 Start -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="title">
            <tr>
                <td width="19" height="25" valign="center" class="Lpd10">
                    <div class="arr">
                    </div>
                </td>
                <td width="1232" height="25" valign="center" align="left">
                    你当前位置：用户系统 - 赠送游戏币记录
                </td>
            </tr>
        </table>
        <!-- 头部菜单 End -->
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td class="titleOpBg Lpd10">
                    <input type="button" value="关闭" class="btn wd1" onclick="window.close();" />
                    <input type="button" class="btnLine" />
                    <input type="button" value="取消绑定" class="btn wd2" onclick="window.close();" />
                </td>
            </tr>
        </table>

        <table width="100%" style="height:100%;" border="0" align="center" cellpadding="0" cellspacing="0" class="box" id="list">
            <tr class="list">
                <td colspan="5" style="font-weight:bold;height:25px;" align="left">
                    序列号：<label id="lbSerialNumber"></label>
                </td>
            </tr>
            <tr align="center" class="bold" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td class="listTitle2">&nbsp;</td>
                <td class="listTitle2">1</td>
                <td class="listTitle2">2</td>
                <td class="listTitle2">3</td>
                <td class="listTitle2">4</td>
            </tr>
            <tr align="center" class="list" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td>A</td>
                <td><label id="lbA1"></label></td>
                <td><label ID="lbA2"></label></td>
                <td><label id="lbA3"></label></td>
                <td><label id="lbA4"></label></td>
            </tr>
            <tr align="center" class="listBg" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td style="font-weight:bold;height:20px;">B</td>
                <td><label id="lbB1"></label></td>
                <td><label id="lbB2"></label></td>
                <td><label id="lbB3"></label></td>
                <td><label id="lbB4"></label></td>
            </tr>
            <tr align="center" class="list" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td style="font-weight:bold;height:20px;">C</td>
                <td><label id="lbC1"></label></td>
                <td><label id="lbC2"></label></td>
                <td><label id="lbC3"></label></td>
                <td><label id="lbC4"></label></td>
            </tr>
            <tr align="center" class="listBg" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td style="font-weight:bold;height:20px;">D</td>
                <td><label id="lbD1"></label></td>
                <td><label id="lbD2"></label></td>
                <td><label id="lbD3"></label></td>
                <td><label id="lbD4"></label></td>
            </tr>
            <tr align="center" class="list" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td style="font-weight:bold;height:20px;">E</td>
                <td><label id="lbE1"></label></td>
                <td><label id="lbE2"></label></td>
                <td><label id="lbE3"></label></td>
                <td><label id="lbE4"></label></td>
            </tr>
            <tr align="center" class="listBg" onmouseover="currentcolor=this.style.backgroundColor;this.style.backgroundColor='#caebfc';this.style.cursor='default';"
                onmouseout="this.style.backgroundColor=currentcolor">
                <td style="font-weight:bold;height:20px;">F</td>
                <td><label id="lbF1"></label></td>
                <td><label id="lbF2"></label></td>
                <td><label id="lbF3"></label></td>
                <td><label id="lbF4"></label></td>
            </tr>
        </table>
    <script>
            $(document).ready(function () {
               
            });
            function Add() {
               
                if (istrue) {
                    var data = { Param: '@ViewBag.Paras' };
                    AjaxSubmit("/Account/ExcutePasswordCard", data, callBack, "add");
                }
            }
            //回调函数
            function callBack(jsonData, fname) {
                if (fname == "add") {
                    alert(jsonData.Msg);
                    window.close();
                    window.opener.location.reload();
                }
            }
    </script>
</body>
</html>
