@{
    Layout = null;
    ViewBag.Title = "用户系统 - 赠送靓号记录";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/pagination.js"></script> 
</head>
<body>
    <div id="content" class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：@ViewBag.Title </h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content" style="overflow: hidden; display: block;">
                        <!--查询栏结束-->
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" id="pagecount">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> 条/页
                                    </label>
                                    <div class="dataTables_info" id="DataTables_Table_0_info">显示 1 至 10 共 10 条</div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                                <a class="btn btn-success search" href="#" onclick="window.close();">
                                    <i class="glyphicon glyphicon-off"></i>
                                    关闭
                                </a>
                            </div>
                        </div>
                        <!--table开始-->
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">

                                        <th>赠送日期</th>
                                        <th>地址</th>
                                        <th>原游戏ID</th>
                                        <th>赠送游戏ID</th>
                                        <th>靓号登级</th>
                                        <th>操作网管</th>
                                        <th>赠送原因</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                            </table>
                            <!--分页控件-->
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                        <ul class="pagination" id="pagin"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--table结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pageObj = {};
        var postData = {};//搜索条件
        $(document).ready(function () {
            docReady();
        });
        function docReady() {
            //加载数据
            postData.pageSize = parseInt($("#pagecount").val());
            postData.Sort = "";
            postData.pageIndex = 1;
            postData.UserID = parseInt('@ViewBag.ID');

            AjaxSearch(postData);
            //收放事件
            $('.btn-minimize').click(function (e) {
                e.preventDefault();
                var $target = $(this).parent().parent().next('.box-content');
                if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $target.slideToggle();
            });
            //选择页码
            $("#pagecount").change(function (e) {
                postData.pageSize = parseInt($(this).val());
                postData.pageIndex = 1;
                AjaxSearch(postData);
            });
        }
        //搜索事件
        function AjaxSearch(postData) {
            $('#downbabyPage').paging("/Account/GetRecordGrantGameIDList", postData, CreatTableBody, postData.pageIndex);
        }
        //绑定数据
        function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex) {
            var html = "";
            if (jsondata != null && jsondata.length > 0) {
                $.each(jsondata, function (i, item) {
                    if (i % 2 == 0) {
                        html += stringFormat("<tr class=\"odd\">");
                        html += stringFormat("<td>{0}</td>", item.CollectDate);
                        html += stringFormat("<td>{0}</td>", item.ClientIP);
                        html += stringFormat("<td>{0}</td>", item.CurGameID);
                        html += stringFormat("<td>{0}</td>", item.ReGameID);
                        html += stringFormat("<td>{0}</td>", item.IDLevel);
                        html += stringFormat("<td>{0}</td>", item.MasterName);
                        html += stringFormat("<td>{0}</td>", item.Reason);
                        html += "</tr>";
                    } else {
                        html += stringFormat("<tr class=\"even\">");
                        html += stringFormat("<td>{0}</td>", item.CollectDate);
                        html += stringFormat("<td>{0}</td>", item.ClientIP);
                        html += stringFormat("<td>{0}</td>", item.CurGameID);
                        html += stringFormat("<td>{0}</td>", item.ReGameID);
                        html += stringFormat("<td>{0}</td>", item.IDLevel);
                        html += stringFormat("<td>{0}</td>", item.MasterName);
                        html += stringFormat("<td>{0}</td>", item.Reason);
                        html += "</tr>";
                    }
                });
            }
            $("#DataTables_Table_0_wrapper tbody").html(html);
            $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
        }
        //字符串格式化
        function stringFormat() {
            if (arguments.length == 0)
                return null;
            var str = arguments[0];
            for (var i = 1; i < arguments.length; i++) {
                var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
                str = str.replace(re, arguments[i]);
            }
            return str;
        }
    </script>
</body>
</html>
