@{
    Layout = null;
    ViewBag.Title = "后台管理-总输赢";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Content/laydate/laydate.js"></script>
    <script src="~/Scripts/pagination.js"></script>
</head>
<body class="backgroud">
    <div id="content" class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：@ViewBag.Title </h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content" style="overflow: hidden; display: block;">
                        <!--查询栏开始-->
                        <div class="alert alert-info">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <ul class="list-inline cursor-style">
                                        <li>日期查询：</li>
                                        <li>
                                            <input id="txtStartDate" class="input-width-150" type="text" readonly="readonly" placeholder="请输入开始时间" />至<input type="text" id="txtEndDate" class="input-width-150" readonly="readonly" placeholder="请输入结束时间" />
                                        </li>
                                        <li>
                                            <input type="text" placeholder="请输入玩家账号/玩家昵称" id="txtSearch" class="form-control input-sm input-width-150">
                                        </li>
                                        <li>
                                            <a id="btnQuery" class="btn btn-success search" href="#"><i class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!--查询栏结束-->
                        <div class="row">
                            <div class="col-md-2">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label>
                                        <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" id="pagecount">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> 条/页
                                    </label>
                                    <div class="dataTables_info" id="DataTables_Table_0_info">显示 1 至 10 共 10 条</div>
                                </div>
                            </div>
                            <div class="col-md-10" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                                <div class="btn-group btn-group">
                                    <button type="button" id="btntaday" class="btn btn-primary"><i class="glyphicon glyphicon-align-left icon-white"></i>今天</button>
                                    <button type="button" id="btnyesterday" class="btn btn-primary"><i class="glyphicon glyphicon-align-center icon-white"></i>昨天</button>
                                    <button type="button" id="btnweeked" class="btn btn-primary"><i class="glyphicon glyphicon-align-right icon-white"></i>本周</button>
                                    <button type="button" id="btnlastweeked" class="btn btn-primary"><i class="glyphicon glyphicon-align-justify icon-white"></i>上周</button>

                                </div>
                            </div>
                        </div>
                        <!--table开始-->
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th>玩家账号</th>
                                        <th>玩家昵称</th>
                                        <th>总输赢<img id="sortbtn" src="../../Content/images/down.gif" style="cursor: pointer" title="点击进行排序查询" onclick="Sort(this)" /></th>
                                        <th>统计时间</th>
                                        <th>输赢详情</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                            </table>
                            <!--分页控件-->
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                        <ul class="pagination" id="pagin"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--table结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pageObj = {};
        var postData = {};//搜索条件
        $(document).ready(function () {
            //时间选择器
            laydate.render({
                elem: '#txtStartDate'
              , type: 'datetime'
            });
            laydate.render({
                elem: '#txtEndDate'
              , type: 'datetime'
            });
            docReady();
        });
        function docReady() {
            //加载数据
            postData.pageSize = parseInt($("#pagecount").val());
            postData.pageIndex = 1;
            postData.DateType = 0;
            postData.sort = 0;
            AjaxSearch(postData);
            //收放事件
            $('.btn-minimize').click(function (e) {
                e.preventDefault();
                var $target = $(this).parent().parent().next('.box-content');
                if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                $target.slideToggle();
            });
            //选择页码
            $("#pagecount").change(function (e) {
                postData.pageSize = parseInt($(this).val());
                postData.pageIndex = 1;
                AjaxSearch(postData);
            });
            //刷新
            $("#btnRefresh").click(function (e) {
                postData.KeyWord = $("#txtSearch").val();
                postData.DateType = 0;
                AjaxSearch(postData);
            });
            
            //时间今天查询
            $("#btntaday").click(function (e) {             
                postData.pageSize = parseInt($("#pagecount").val());
                postData.KeyWord = "";
                postData.pageIndex = 1;
                postData.DateType = 1;
                AjaxSearch(postData);
            });
            //时间昨天查询
            $("#btnyesterday").click(function (e) {
                postData.pageIndex = 1;
                postData.pageSize = parseInt($("#pagecount").val());
                postData.KeyWord = "";
                postData.DateType = 2;
                AjaxSearch(postData);
            });
            //时间本周查询
            $("#btnweeked").click(function (e) {
                postData.pageIndex = 1;
                postData.pageSize = parseInt($("#pagecount").val());
                postData.KeyWord = "";
                postData.DateType = 3;
                AjaxSearch(postData);
            });
            //时间上周查询
            $("#btnlastweeked").click(function (e) {
                postData.pageIndex = 1;
                postData.pageSize = parseInt($("#pagecount").val());
                postData.KeyWord = "";
                postData.DateType = 4;
                AjaxSearch(postData);
            });
            //日期查询
            $("#btnQuery").click(function (e) {
                postData.pageIndex = 1;
                var txtStartDate = $("#txtStartDate").val();
                var txtEndDate = $("#txtEndDate").val();
                if (txtStartDate != "" && txtEndDate != "") {
                    if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                        alert("开始日期不能大于结束时间");
                        return false;
                    }
                }
                postData.StartDate = txtStartDate;
                postData.EndDate = txtEndDate;
                postData.pageSize = parseInt($("#pagecount").val());
                postData.DateType = 0;
                postData.KeyWord = $("#txtSearch").val();
                AjaxSearch(postData);
            });
        }
        function Sort(o) {
            if (postData.sort == 0) {
                postData.sort = 1;
                o.src = "../../Content/images/up.gif"
                
            } else {
                postData.sort = 0;
                o.src = "../../Content/images/down.gif"
            }
            postData.pageIndex = 1;
            AjaxSearch(postData);
        }
        //搜索事件
        function AjaxSearch(postData) {
            $('#pagin').paging("/Abnormal/GetAccountScoreList", postData, CreatTableBody, postData.pageIndex);
        }

        //绑定数据
        function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex) {
            var html = "";
            if (jsondata != null && jsondata.length > 0) {
                $.each(jsondata, function (i, item) {

                    html += stringFormat("<tr>", item.UserID);
                    html += stringFormat("<td title='{0}'><a class=\"l\" href=\"javascript:void(0);\" onclick=\"openWindowOwn('@Url.Action("AccountsInfo", "Account")?param={1}','账号信息',850,600);\">{0}</a></td>", item.Accounts, item.UserID);
                    html += stringFormat("<td>{0}</td>", item.NickName);
                    html += stringFormat("<td>{0}</td>", item.Score.formatMoney());
                    html += stringFormat("<td>{0}至{1}</td>", item.StartTime, item.EndTime);
                    html += stringFormat("<td title='{0}'><a class=\"l\" href=\"javascript:void(0);\" onclick=\"openWindowOwn('@Url.Action("AccountScoreDetail", "Abnormal")?param={0}&stTime={1}&endTime={2}&account={3}&nick={4}','输赢详情',850,600);\">输赢详情</a></td>", item.UserID, item.StartTime, item.EndTime, item.Accounts, item.NickName); 
                    html += "</tr>";
                });
            }
            $("#DataTables_Table_0_wrapper tbody").html(html);
            $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
        }
        //字符串格式化
        function stringFormat() {
            if (arguments.length == 0)
                return null;
            var str = arguments[0];
            for (var i = 1; i < arguments.length; i++) {
                var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
                str = str.replace(re, arguments[i]);
            }
            return str;
        }
    </script>
</body>
</html>
